<div class="card">
    <p-table [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </ng-template>
        <ng-template  pTemplate="body" let-product>
            <tr>
                <td>{{ product.nameCompany }}</td>
                <td>{{ product.nameDealer }}</td>
                <td>{{ product.address.class }}</td>
                <td>{{ product.address }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
